body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 200px;
    height: 150px;
    background-color: blue;
    display: flex;
    align-items: buttom;
    justify-content: center;
    border-radius: 6px;
}

.main-block-message {
    font-size: 23px;
}
